parameters:
	ignoreErrors:
		-
			message: '#^Cannot access offset ''budget'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Contact/Middleware.php

		-
			message: '#^Cannot access offset ''company'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Contact/Middleware.php

		-
			message: '#^Cannot access offset ''email'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Contact/Middleware.php

		-
			message: '#^Cannot access offset ''firstname'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Contact/Middleware.php

		-
			message: '#^Cannot access offset ''lastname'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Contact/Middleware.php

		-
			message: '#^Cannot access offset ''message'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Contact/Middleware.php

		-
			message: '#^Cannot access offset ''phone'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Contact/Middleware.php

		-
			message: '#^Cannot access offset ''service'' on array\|object\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Contact/Middleware.php

		-
			message: '#^Class Axleus\\Mailer\\Event\\MessageEvent referenced with incorrect case\: Axleus\\mailer\\Event\\MessageEvent\.$#'
			identifier: class.nameCase
			count: 1
			path: src/App/src/Contact/Middleware.php

		-
			message: '#^Method App\\Contact\\Middleware\:\:__construct\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/App/src/Contact/Middleware.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Contact/Middleware.php

		-
			message: '#^Parameter \#3 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Contact/Middleware.php

		-
			message: '#^Parameter \#4 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Contact/Middleware.php

		-
			message: '#^Parameter \#5 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Contact/Middleware.php

		-
			message: '#^Parameter \#6 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Contact/Middleware.php

		-
			message: '#^Parameter \#7 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Contact/Middleware.php

		-
			message: '#^Parameter \#8 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Contact/Middleware.php

		-
			message: '#^Parameter \#9 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Contact/Middleware.php

		-
			message: '#^Parameter \$from of class Axleus\\Mailer\\CommandBus\\SendEmailCommand constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Contact/Middleware.php

		-
			message: '#^Parameter \$subject of class Axleus\\Mailer\\CommandBus\\SendEmailCommand constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Contact/Middleware.php

		-
			message: '#^Parameter \$to of class Axleus\\Mailer\\CommandBus\\SendEmailCommand constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Contact/Middleware.php

		-
			message: '#^Cannot access offset ''Axleus\\\\Mailer\\\\Adapter\\\\MessageInterface'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/App/src/Contact/MiddlewareFactory.php

		-
			message: '#^Parameter \#1 \$commandBus of class App\\Contact\\Middleware constructor expects Webware\\CommandBus\\CommandBusInterface, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Contact/MiddlewareFactory.php

		-
			message: '#^Parameter \#2 \$config of class App\\Contact\\Middleware constructor expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Contact/MiddlewareFactory.php

		-
			message: '#^Cannot call method getStatus\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/App/src/Contact/PageHandler.php

		-
			message: '#^Cannot call method render\(\) on Mezzio\\Template\\TemplateRendererInterface\|null\.$#'
			identifier: method.nonObject
			count: 3
			path: src/App/src/Contact/PageHandler.php

		-
			message: '#^Cannot call method send\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: src/App/src/Contact/PageHandler.php

		-
			message: '#^Parameter \#1 \$template of class App\\Contact\\PageHandler constructor expects Mezzio\\Template\\TemplateRendererInterface\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Contact/PageHandlerFactory.php

		-
			message: '#^Parameter \#1 \$template of class App\\Handler\\AboutPageHandler constructor expects Mezzio\\Template\\TemplateRendererInterface\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Container/AboutPageHandlerFactory.php

		-
			message: '#^Parameter \#1 \$template of class App\\Handler\\ProjectPageHandler constructor expects Mezzio\\Template\\TemplateRendererInterface\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Container/ProjectPageHandlerFactory.php

		-
			message: '#^Parameter \#1 \$template of class App\\Handler\\ServicePageHandler constructor expects Mezzio\\Template\\TemplateRendererInterface\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Container/ServicePageHandlerFactory.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/App/src/Handler/NotificationHandler.php

		-
			message: '#^Parameter \#1 \$template of class App\\Handler\\NotificationHandler constructor expects Mezzio\\Template\\TemplateRendererInterface, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/App/src/Handler/NotificationHandlerFactory.php

		-
			message: '#^Method Htmx\\ConfigProvider\:\:__invoke\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Htmx/src/ConfigProvider.php

		-
			message: '#^Method Htmx\\ConfigProvider\:\:getDependencies\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Htmx/src/ConfigProvider.php

		-
			message: '#^Method Htmx\\ConfigProvider\:\:getTemplates\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Htmx/src/ConfigProvider.php

		-
			message: '#^Method Htmx\\Middleware\\DetectAjaxRequestMiddleware\:\:__construct\(\) has parameter \$htmxConfig with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Htmx/src/Middleware/DetectAjaxRequestMiddleware.php

		-
			message: '#^Property Htmx\\Middleware\\DetectAjaxRequestMiddleware\:\:\$htmxConfig is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Htmx/src/Middleware/DetectAjaxRequestMiddleware.php

		-
			message: '#^Parameter \#1 \$template of class Htmx\\Middleware\\DetectAjaxRequestMiddleware constructor expects Mezzio\\Template\\TemplateRendererInterface, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Htmx/src/Middleware/DetectAjaxRequestMiddlewareFactory.php

		-
			message: '#^Parameter \#2 \$htmxConfig of class Htmx\\Middleware\\DetectAjaxRequestMiddleware constructor expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Htmx/src/Middleware/DetectAjaxRequestMiddlewareFactory.php

		-
			message: '#^Method Htmx\\Request\\Header\:\:names\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Htmx/src/Request/Header.php

		-
			message: '#^Method Htmx\\Request\\Header\:\:toArray\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Htmx/src/Request/Header.php

		-
			message: '#^Method Htmx\\Request\\Header\:\:values\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Htmx/src/Request/Header.php

		-
			message: '#^Parameter \#1 \$keys of function array_combine expects array\<int\|string\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Htmx/src/Request/Header.php

		-
			message: '#^Parameter \#1 \$array of function array_flip expects array\<int\|string\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Htmx/src/Request/ServerRequestFilter.php

		-
			message: '#^Trait Htmx\\RequestHandlerTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Htmx/src/RequestHandlerTrait.php

		-
			message: '#^Method Htmx\\Response\\Header\:\:names\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Htmx/src/Response/Header.php

		-
			message: '#^Method Htmx\\Response\\Header\:\:toArray\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Htmx/src/Response/Header.php

		-
			message: '#^Method Htmx\\Response\\Header\:\:values\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Htmx/src/Response/Header.php

		-
			message: '#^Parameter \#1 \$keys of function array_combine expects array\<int\|string\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Htmx/src/Response/Header.php

		-
			message: '#^Trait Htmx\\Response\\ResponseTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Htmx/src/Response/ResponseTrait.php

		-
			message: '#^Trait Htmx\\TriggerTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Htmx/src/TriggerTrait.php

		-
			message: '#^Cannot call method addChild\(\) on Laminas\\View\\Model\\ModelInterface\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Htmx/src/View/LaminasRenderer.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/Htmx/src/View/LaminasRenderer.php

		-
			message: '#^Method Htmx\\View\\LaminasRenderer\:\:render\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Htmx/src/View/LaminasRenderer.php

		-
			message: '#^Parameter \#1 \$model of method Htmx\\View\\LaminasRenderer\:\:renderRecursively\(\) expects Laminas\\View\\Model\\ModelInterface, Laminas\\View\\Model\\ModelInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Htmx/src/View/LaminasRenderer.php

		-
			message: '#^Parameter \#1 \$viewModel of method Htmx\\View\\LaminasRenderer\:\:prepareLayout\(\) expects Laminas\\View\\Model\\ModelInterface, Laminas\\View\\Model\\ModelInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Htmx/src/View/LaminasRenderer.php

		-
			message: '#^Cannot access offset ''body'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Htmx/src/View/LaminasRendererFactory.php

		-
			message: '#^Cannot access offset ''default_body'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Htmx/src/View/LaminasRendererFactory.php

		-
			message: '#^Cannot access offset ''default_layout'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Htmx/src/View/LaminasRendererFactory.php

		-
			message: '#^Cannot access offset ''layout'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Htmx/src/View/LaminasRendererFactory.php

		-
			message: '#^Parameter \#1 \$renderer of class Htmx\\View\\LaminasRenderer constructor expects Laminas\\View\\Renderer\\RendererInterface, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Htmx/src/View/LaminasRendererFactory.php

		-
			message: '#^Parameter \#2 \$helpers of class Htmx\\View\\LaminasRenderer constructor expects Laminas\\View\\HelperPluginManagerInterface, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Htmx/src/View/LaminasRendererFactory.php
